In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
PATH = './data_train/temperature/anos/2002.parquet'
PATH_SAVE = './data_train/temperature/anos/2002.csv'
PATH_STATIONS = './data/station.parquet'

In [2]:
df_c = pd.read_csv('train/neighbors/results/neighbors_metrics.csv')

In [3]:
df_c

,variable,n_samples,mae,rmse,bias,r,r2,mean_observed,mean_predicted,std_observed,std_predicted
0,temperature,70526432,0.033779,0.046827,-0.001478,0.897113,0.792991,0.604317,0.602839,0.10292,0.103423

In [ ]:
df_s = pd.read_parquet(PATH_STATIONS)
df_s['start_operation'] = pd.to_datetime(df_s['start_operation'])

In [ ]:
df = pd.read_parquet('./data_train/temperature/temperature_with_neighbors.parquet')

In [ ]:
df

In [ ]:

df_t = pd.read_parquet(PATH)

In [ ]:
df_t.to_csv(PATH_SAVE, index=False)

In [ ]:
df_t.tail(50)
# 70748945	S732	2025-12-31 23:00:00	0.705128

In [ ]:
df[df['measurement_time'] == '2001-10-31 04:00:00']

In [ ]:
df_s[df_s['start_operation'].dt.year <= 2002].reset_index(drop=True)