In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
PATH = './data_train/temperature/anos/2002.parquet'
PATH_SAVE = './data_train/temperature/anos/2002.csv'
PATH_STATIONS = './data/station.parquet'

In [ ]:
cols = ["variable", "mae", "rmse", "bias", "r", "r2"]
result_linear_regression = pd.read_csv('train/linear_regression/results/linear_regression_metrics.csv')[cols]
result_neighbors = pd.read_csv('train/neighbors/results/neighbors_metrics.csv')[cols]
result_neighbors

      variable       mae      rmse      bias         r        r2
0  temperature  0.033761  0.046718 -0.000930  0.900751  0.800841
1     humidity  0.092140  0.126838  0.001290  0.837802  0.676401
2    radiation  0.004502  0.009925 -0.000022  0.888307  0.777155

In [4]:
result_linear_regression

      variable       mae      rmse      bias         r        r2
0  temperature  0.021377  0.029400 -0.000029  0.959758  0.921127
1     humidity  0.073649  0.099905 -0.000160  0.894013  0.799238
2    radiation  0.004224  0.007840  0.000219  0.927947  0.860968

Teste

In [ ]:
df_s = pd.read_parquet(PATH_STATIONS)
df_s['start_operation'] = pd.to_datetime(df_s['start_operation'])

In [ ]:
df = pd.read_parquet('./data_train/temperature/temperature_with_neighbors.parquet')

In [ ]:
df

In [ ]:

df_t = pd.read_parquet(PATH)

In [ ]:
df_t.to_csv(PATH_SAVE, index=False)

In [ ]:
df_t.tail(50)
# 70748945	S732	2025-12-31 23:00:00	0.705128

In [ ]:
df[df['measurement_time'] == '2001-10-31 04:00:00']

In [ ]:
df_s[df_s['start_operation'].dt.year <= 2002].reset_index(drop=True)